.cron-picker-dow {
  margin-bottom: 10px;

  button {
    margin-right: 3px;
  }
}

.cron-picker-recurrence-types {
  margin-bottom: 10px;
}

.cron-picker-day-filter {
  margin-bottom: 10px;
}

.cron-picker-time {
  select {
    width: 60px;
    display: inline-block;
    margin: 0 5px;
  }
}